<a href="https://colab.research.google.com/github/danielhendra0046/coursera-crash-course-on-python/blob/master/coursera_crash_course_on_python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6 NOVEMBER 2023

## More about string

In [9]:
name = "Manny"
number = len(name) * 3
print("Hello {}, your lucky number is {}".format(name, number))

print("Your lucky number is {number}, {name}.".format(name=name, number=len(name)*3))

Hello Manny, your lucky number is 15
Your lucky number is 15, Manny.

In [11]:
# print only 2 decimals, how to do that:

price = 7.5
with_tax = price * 1.09
print(price, with_tax)

print("Base price: ${:.2f}. With Tax: ${:.2f}".format(price, with_tax)) # ask a computer to print on format float, 2 number after coma

7.5 8.175
Base price: $7.50. With Tax: $8.18

other about format string

In [25]:
first = "apple"
second = "banana"
third = "carrot"

formatted_string = "{0} {2} {1}".format(first, second, third)
print(formatted_string)

apple carrot banana

In [36]:
# this is example of replace method

string = "ucup"
string.replace("ucup", "tatang")

'tatang'

In [69]:
# this is a example again
# seruuuuuuuuuuu

def mirrored_string(my_string):
    forwards = ""
    backwards = ""

    for character in my_string:
        if character.isalpha():
            forwards += character
            backwards = character + backwards

    if forwards.lower() == backwards.lower():
        return True
    return False
    
    
print(mirrored_string("123333 Noon"))
print(mirrored_string("Was it a car or cat I saw"))
print(mirrored_string("'66eve, Madam Eve66"))

True
False
True

In [72]:
# example of format string with 2 numbers behind the comma

def convert_weight(ounces):
    pounds = ounces/16

    result = "{} ounces equals {:.2f} pounds".format(ounces,pounds)
    return(result)

print(convert_weight(12))

12 ounces equals 0.75 pounds

In [77]:
def replace_date(schedule, old_date, new_date):
    if schedule.endswith(old_date):
        p = len(old_date)
        new_schedule = schedule[:-p] + schedule[-p:].replace(old_date, new_date)
        return new_schedule
    return schedule

print(replace_date("Last year's annual report will be released in March 2023", "2023", "2024"))
print(replace_date("In April, the CEO will hold a conference", "April", "May"))
print(replace_date("The convention is scheduled for October", "October", "June"))

Last year's annual report will be released in March 2024
In April, the CEO will hold a conference
The convention is scheduled for June

Quiz: String

In [79]:
def is_palindrome(input_string):
    # Two variables are initialized as string date types using empty 
    # quotes: "reverse_string" to hold the "input_string" in reverse
    # order and "new_string" to hold the "input_string" minus the 
    # spaces between words, if any are found.
    new_string = ""
    reverse_string = ""

    # Complete the for loop to iterate through each letter of the
    # "input_string"
    for letter in input_string:

        # The if-statement checks if the "letter" is not a space.
        if letter != " ":

            # If True, add the "letter" to the end of "new_string" and
            # to the front of "reverse_string". If False (if a space
            # is detected), no action is needed. Exit the if-block.
            new_string = new_string + letter
            reverse_string = letter + reverse_string

    # Complete the if-statement to compare the "new_string" to the
    # "reverse_string". Remember that Python is case-sensitive when
    # creating the string comparison code. 
    if new_string.lower() == reverse_string.lower():

        # If True, the "input_string" contains a palindrome.
        return True
		
    # Otherwise, return False.
    return False


print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

## List

In [81]:
x = ["Now", "We", "are", "cooking!"] # data with a square bracket is a list
type(x)

list

In [107]:
def get_word(sentence, n):
    if n > 0:
        words = sentence.split()
        if n <= len(words): # 5 <= 4
            return(words[n-1])
    return("")

print(get_word("This is a lesson about lists", 4)) # lesson
print(get_word("Now we are cooking!", 5)) # nothing to display

lesson

In [113]:
halo = "this is a lesson"
hai = halo.split()

"haha" in hai

False

using method that can modify lists

In [127]:
fruits = ["Pinneaple", "Banana", "Apple", "Melon"]

# append -> insert new list on the end
fruits.append("Kiwi")
print(fruits)

# insert -> to insert list anyplace we want
fruits.insert(0, "Orange")
print(fruits)

fruits.insert(25, "Peach") # use number larger than the range
print(fruits)

# remove -> to remove by string

fruits.remove("Melon")
print(fruits)

# pop -> to remove list with index

fruits.pop(3)
print(fruits)

# to replace with index

fruits[2] = "Strawberry"
print(fruits)

['Pinneaple', 'Banana', 'Apple', 'Melon', 'Kiwi']
['Orange', 'Pinneaple', 'Banana', 'Apple', 'Melon', 'Kiwi']
['Orange', 'Pinneaple', 'Banana', 'Apple', 'Melon', 'Kiwi', 'Peach']
['Orange', 'Pinneaple', 'Banana', 'Apple', 'Kiwi', 'Peach']
['Orange', 'Pinneaple', 'Banana', 'Kiwi', 'Peach']
['Orange', 'Pinneaple', 'Strawberry', 'Kiwi', 'Peach']

Learn About Tuples

Tuples can't modifying because sequence position have a meaning

In [1]:
# enumerate

winners = ["Ashley", "Dylan", "Reese"]
for index, person in enumerate(winners):
    print("{} - {}".format(index + 1, person))

1 - Ashley
2 - Dylan
3 - Reese

In [8]:
def full_emails(people):
    result = []
    for email, name in people:
        result.append("{} <{}>".format(name, email))
    return result

print(full_emails([("alex@example.com", "Alex Diego"), ("daniel@example.com", "Daniel Hendra")]))

['Alex Diego <alex@example.com>', 'Daniel Hendra <daniel@example.com>']

In [13]:
# Example of enumerate

def skip_elements(elements):
	# code goes here
    new_list = []
    for index, element in enumerate(elements):
        if index % 2 == 0:
            new_list.append(element)
    return new_list

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

List Comprehension

In [15]:
# example 1
multiples = []
for x in range(1,11):
    multiples.append(x*7)

print(multiples)

# example 2
multiples = [ x*7 for x in range(1,11) ]

print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [18]:
languages = ["Python", "Perl", "Ruby", "Go", "Java", "C"]
lengths = [len(language) for language in languages]
print(lengths)

[6, 4, 4, 2, 4, 1]

In [19]:
z = [x for x in range(0,101) if x % 3 == 0]
print(z)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

# 7 NOVEMBER 2023

## More about List

In [21]:
# list comprehension

def squares(start, end):
    return [n*n for n in range(start,end+1)]


print(squares(2, 3))  # Should print [4, 9]
print(squares(1, 5))  # Should print [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should print [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[4, 9]
[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Coding quiz

In [22]:
years = ["January 2023", "May 2025", "April 2023", "August 2024", "September 2025", "December 2023"]

updated_years = []

for year in years:
    if year.endswith("2023"):
        new = year.replace("2023","2024")
        updated_years.append(new)
    else:
        updated_years.append(year)


print(updated_years) 
# Should print ["January 2024", "May 2025", "April 2024", "August 2024", "September 2025", "December 2024"]

['January 2024', 'May 2025', 'April 2024', 'August 2024', 'September 2025', 'December 2024']

In [23]:
years = ["January 2023", "May 2025", "April 2023", "August 2024", "September 2025", "December 2023"]

updated_years = [year.replace("2023","2024") if year[-4:] == "2023" else year for year in years]


print(updated_years) 
# Should print ["January 2024", "May 2025", "April 2024", "August 2024", "September 2025", "December 2024"]

['January 2024', 'May 2025', 'April 2024', 'August 2024', 'September 2025', 'December 2024']

In [24]:
def change_string(given_string):

    new_string = ""
    new_list = given_string.split()

    for element in new_list:

        new_string += element[1:] + "-"  + element[0] + " "

    return new_string


print(change_string("1one 2two 3three 4four 5five")) 
# Should print "one-1 two-2 three-3 four-4 five-5"

one-1 two-2 three-3 four-4 five-5

In [25]:
def list_elements(list_name, elements):

    return "The " + list_name + " list includes: " + ", ".join(elements)


print(list_elements("Printers", ["Color Printer", "Black and White Printer", "3-D Printer"])) 
# Should print "The Printers list includes: Color Printer, Black and White Printer, 3-D Printer"

The Printers list includes: Color Printer, Black and White Printer, 3-D Printer

Practice Quiz: Lists

In [28]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
newfilenames = []

for filename in filenames:
    if filename.endswith("hpp"):
        new = filename.replace("hpp", "h")
        newfilenames.append(new)
    else:
        newfilenames.append(filename)

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [65]:
def pig_latin(text):
  say = []
  # Separate the text into words
  words = text.split()
  for word in words:
    # Create the pig latin word and add it to the list
    word = word[1:] + word[0] + "ay"
    say.append(word)

    # Turn the list back into a phrase
  return " ".join(say)
		
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

In [54]:
def group_list(group, users):
  members = group + ": " + ", ".join(users)
  return members

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike, Karen, Jake, Tasha
Engineering: Kim, Jay, Tom
Users:

In [62]:
def guest_list(guests):
	for guest in guests:
		name, age, profession = guest
		print("{} is {} years old and works as {}".format(name, age, profession))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

#Click Run to submit code
"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

'\nOutput should match:\nKen is 30 years old and works as Chef\nPat is 35 years old and works as Lawyer\nAmanda is 25 years old and works as Engineer\n'