<a href="https://colab.research.google.com/github/danielhendra0046/coursera-crash-course-on-python/blob/master/coursera_crash_course_on_python_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3 NOVEMBER 2023

## Introduction to Programming

if you don't know about the type of data, you can write like this:

In [4]:
print(type("a"))
print(type(1.5))

<class 'str'>
<class 'float'>

# 4 NOVEMBER 2023

## Repeat Lesson

In [11]:
ucup = 10

print("the fortune number of Ucup is: " + str(ucup))

the fortune number of Ucup is: 10

In [12]:
def greeting(name, department):
    print("Welcome, " + name)
    print("You are part of " + department)

greeting("Daniel", "Manajemen Bisnis")

Welcome, Daniel
You are part of Manajemen Bisnis

This is cause why we use return in function

In [21]:
# Wrong Example

def perkalian(angka1,angka2):
    print(angka1*angka2/2)
area_a = perkalian(5,4)
area_b = perkalian(7,3)

# cannot print because area_a is a NoneType
print(type(area_a))

sum = area_a + area_b

print(sum)

# so this is a important of using a "return"

10.0
10.5
<class 'NoneType'>

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [20]:
# Correct Example

def area_triangle(base, height):
    return base*height/2

area_a = area_triangle(5,4)
area_b = area_triangle(7,3)

# this can be operate because of area_a is a float
print(type(area_a))

sum = area_a + area_b
print(sum)

<class 'float'>
20.5

Other example of using "return"

In [29]:
def convert_second(second):
    hours = second // 3600
    minutes = (second - hours * 3600) // 60
    remaining_seconds = second - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_second(5000)
print(hours, minutes, seconds)

# why must be 3 variables? because the output of convert_second() is only have 3 output. So thats why we can't add > 3

1 23 20

In [43]:
print("Yellow" > "Yfllow")

False

## While Loops

In [45]:
x = 0
while x < 5:
    print("Not there yet, x=" + str(x))
    x = x + 1
print("x=" + str(x))

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4
x=5

In [47]:
if x != 0:
    while x % 2 == 0:
        x = x / 2

In [48]:
def print_range(start, end):
    n = start
    while n <= end:
        print(n)
        n += 1
print_range(1, 5)

1
2
3
4
5

In [59]:
def addition_table(given_number):
    iterated_number = 1
    my_sum = 1
    while iterated_number <= 5:
        my_sum = given_number + iterated_number
        if my_sum > 20:
            break

        print(str(given_number), "+", str(iterated_number), "=", str(my_sum))
        iterated_number += 1
 
 
addition_table(5)
addition_table(17)
addition_table(30)

5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10
17 + 1 = 18
17 + 2 = 19
17 + 3 = 20

In [82]:
# this is operation of modulo

print(0.3%2)
print(1010000%1) # result always 0

0.3
0

In [83]:
def sum_divisors(number):
  divisor = 1
  total = 0

  if number < 1:
    return 0 

  while divisor <= number/2:
    if number % divisor == 0: 
      total += divisor
  
    divisor += 1
  return total


# print(sum_divisors(0)) # Should print 0
print(sum_divisors(3)) # Should print 1
# 1
print(sum_divisors(36)) # Should print 1+2+3+4+6+9+12+18
# 55
print(sum_divisors(102)) # Should print 1+2+3+6+17+34+51
# 114

1
55
114

In [86]:
def multiplication_table(number):
    # Initialize the appropriate variable
    multiplier = 1

    # Complete the while loop condition.
    while multiplier <= 5:
        result = number * multiplier 
        if  result > 25 :
            # Enter the action to take if the result is greater than 25
            break
        print(str(number) + "x" + str(multiplier) + "=" + str(result))
        
        # Increment the appropriate variable
        multiplier += 1


multiplication_table(3) 
# Should print: 
# 3x1=3 
# 3x2=6 
# 3x3=9 
# 3x4=12 
# 3x5=15

multiplication_table(5) 
# Should print: 
# 5x1=5
# 5x2=10
# 5x3=15
# 5x4=20
# 5x5=25

multiplication_table(8) 
# Should print:
# 8x1=8
# 8x2=16
# 8x3=24

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
8x1=8
8x2=16
8x3=24

## For Loops

example of for loops

In [90]:
values = [ 23,52,59,37,48]
sum = 0
length = 0
for value in values:
    sum += value
    length += 1

print(f"Total sum: {sum}  - Average: {sum/length}")

Total sum: 219  - Average: 43.8

In [91]:
product = 1
for n in range(1,10):
    product = product * n

print(product)

362880

In [92]:
def to_celcius(x):
    return (x-32)*5/9

for x in range(0,101,10):
    print(x, to_celcius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [117]:
#for left in range(7):
for huha in range(0, 7):
    print("[" + str(left) + "|" + str(huha) + "]", end=" ")
  #  print()

[6|0] [6|1] [6|2] [6|3] [6|4] [6|5] [6|6]

# 5 NOVEMBER 2023

## for loop

Example of Nested Loop

In [137]:
for left in range(7):
    for right in range(left, 7):
        print("[" + str(left) + "|" + str(right) + "]", end=" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [138]:
teams = ['Dragons', 'Wolves', 'Pandas', 'Unicorns']
for home_team in teams:
    for away_team in teams:
        if home_team != away_team:
            print(home_team + " vs " + away_team)

Dragons vs Wolves
Dragons vs Pandas
Dragons vs Unicorns
Wolves vs Dragons
Wolves vs Pandas
Wolves vs Unicorns
Pandas vs Dragons
Pandas vs Wolves
Pandas vs Unicorns
Unicorns vs Dragons
Unicorns vs Wolves
Unicorns vs Pandas

other example of for loops

In [139]:
for x in [25]:
    print(x)

25

In [144]:
# example of common error in loops

def greet_friends(friends):
    for friend in friends:
        print("Hi " + friend)

greet_friends('Taylor')

Hi T
Hi a
Hi y
Hi l
Hi o
Hi r

In [145]:
# example of nested loop again

for x in range(2):
    print("This is the outer loop iteration number " + str(x))
    for y in range(3+1):
        print("Inner loop iteration number " + str(y))
    print("Exit inner loop")

This is the outer loop iteration number 0
Inner loop iteration number 0
Inner loop iteration number 1
Inner loop iteration number 2
Inner loop iteration number 3
Exit inner loop
This is the outer loop iteration number 1
Inner loop iteration number 0
Inner loop iteration number 1
Inner loop iteration number 2
Inner loop iteration number 3
Exit inner loop

Quiz: for Loops