<a href="https://colab.research.google.com/github/danielhendra0046/coursera-crash-course-on-python/blob/master/coursera_crash_course_on_python_module_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is module for https://www.coursera.org/learn/python-crash-course/home/module/3

While Loops

In [ ]:
x = 0
while x < 5:
  print("Not there yet, x=" + str(x))
  x = x + 1

print("X=" + str(x))

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4
X=5

In [ ]:
def attempts(n):
  x = 1
  while x <= n:
    print("Attempt " + str(x))
    x += 1
  print("Done")

attempts(5)

Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempt 5
Done

In [ ]:
x = 1
sum = 0
while x < 10:
  sum += x
  x += 1

print(x, sum)

10 45

Infinite Loop

In [ ]:
while x != 0 and x % 2 == 0:
  x = x/2

print(x)

5.0

For Loops

All number in programming languages such as in Python, start number from 0

In [ ]:
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
friends = ("Taylor", "Alex", "Pat", "Eli")
for friend in friends:
  print("Hi " + friend)

Hi Taylor
Hi Alex
Hi Pat
Hi Eli

In [ ]:
values = (23, 52, 59, 37, 48)
sum = 0
length = 0
for value in values:
  sum += value
  length += 1

print("Total sum: " + str(sum) + " - Average: " + str(sum/length))

Total sum: 219 - Average: 43.8

Use for loops when there's a sequence of element that you want to iterate

Use while loops when you want to repeat an action until a condition changes

In [1]:
def to_celcius(x):
  return (x-32)*5/9

for x in range(0,101,10):
  print(x, to_celcius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

Nested for Loop

In [4]:
for left in range(7):
  for right in range(left, 7):
    print("[" + str(left) + "|" + str(right) + "]", end=" ")
  print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [5]:
teams = ("Dragon", "Wolves", "Pandas", "Unicorns")
for home_team in teams:
  for away_team in teams:
    if home_team != away_team:
      print(home_team + " vs " + away_team)

Dragon vs Wolves
Dragon vs Pandas
Dragon vs Unicorns
Wolves vs Dragon
Wolves vs Pandas
Wolves vs Unicorns
Pandas vs Dragon
Pandas vs Wolves
Pandas vs Unicorns
Unicorns vs Dragon
Unicorns vs Wolves
Unicorns vs Pandas

Recursion Loop

In [12]:
def factorial(n):
  print("Factorial called with " + str(n))
  if n < 2:
    print("Returning 1")
    return 1
  result = n * factorial(n-1)
  print("Returning " + str(result) + " For factorial of " + str(n))
  return result

factorial(4)

Factorial called with 4
Factorial called with 3
Factorial called with 2
Factorial called with 1
Returning 1
Returning 2 For factorial of 2
Returning 6 For factorial of 3
Returning 24 For factorial of 4

24

In [13]:
def is_power_of(number, base):
  # Base case: when number is smaller than base.
  if number < base:
    # If number is equal to 1, it's a power (base**0).
    return number == 1

  # Recursive case: keep dividing number by base.
  return is_power_of(number//base, base)

print(is_power_of(8,2)) # Should be True
print(is_power_of(64,4)) # Should be True
print(is_power_of(70,10)) # Should be False

True
True
False

In [14]:
def count_users(group):
  count = 0
  for member in get_members(group):
    count += 1
    if is_group(member):
      count += count_users(member)
  return count

print(count_users("sales")) # Should be 3
print(count_users("engineering")) # Should be 8
print(count_users("everyone")) # Should be 18

NameError: ignored