<a href="https://colab.research.google.com/github/danielhendra0046/coursera-crash-course-on-python/blob/master/coursera_crash_course_on_python_module_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is module for https://www.coursera.org/learn/python-crash-course/home/module/3

While Loops

In [2]:
x = 0
while x < 5:
  print("Not there yet, x=" + str(x))
  x = x + 1

print("X=" + str(x))

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4
X=5

In [5]:
def attempts(n):
  x = 1
  while x <= n:
    print("Attempt " + str(x))
    x += 1
  print("Done")

attempts(5)

Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempt 5
Done

In [8]:
x = 1
sum = 0
while x < 10:
  sum += x
  x += 1

print(x, sum)

10 45

Infinite Loop

In [12]:
while x != 0 and x % 2 == 0:
  x = x/2

print(x)

5.0

For Loops

All number in programming languages such as in Python, start number from 0

In [13]:
for x in range(5):
  print(x)

0
1
2
3
4

In [14]:
friends = ("Taylor", "Alex", "Pat", "Eli")
for friend in friends:
  print("Hi " + friend)

Hi Taylor
Hi Alex
Hi Pat
Hi Eli

In [15]:
values = (23, 52, 59, 37, 48)
sum = 0
length = 0
for value in values:
  sum += value
  length += 1

print("Total sum: " + str(sum) + " - Average: " + str(sum/length))

Total sum: 219 - Average: 43.8

Use for loops when there's a sequence of element that you want to iterate

Use while loops when you want to repeat an action until a condition changes